<html>
<head>
<body>

    <form action="/conf" method="POST" action="">
        <label for="id">Device IP</label><br>
        <input type="text" id="dev" name="dev"><br><br>
        <label for="id">Choose Device Type:</label><br>
            <select name="devices" id="devices">
                <option value="amazon">Amazon Smart Devices</option>
                <option value="google">Google Smart Devices</option>
                <option value="roku">Roku Home Devices</option>
                <option value="smart1">smart device 1</option>
            </select>
        <br><br>
        <input type="submit" value="Submit">  
    </form>
  <p>Submit once device at a time so we can set the rules table properly.</p>
  </body>
  </head>
  </html>